@import "variables";
@import "mixin";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.calendar {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);

  display: grid;
  @include centering;
  grid-template-columns: repeat(7, $cell-width);
  grid-auto-rows: $cell-height;
  gap: $grid-gap $grid-gap;

  div {
    height: $cell-height;
    display: none;
    @include centering;

    background-color: $cell-background-color;
    border: 1px solid $border-color;

    transition: background-color 0.5s ease, transform 0.5s ease;
  }

  div:hover {
    position: relative;
    transform: translateY(-20px);

    background-color: pink;
    cursor: pointer;
  }
}

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i})::before {
    content: "#{$i}";
  }
}

@for $i from 28  through 31 {
  .calendar-#{$i} > div:nth-child(-n+#{$i}) {
    display: flex;
  }
}

@each $day, $number in $days {
  .calendar-#{$day} > div:first-child {
    grid-column-start: $number;
  }
}
